@use "./variables" as *;

.container {
  padding-inline: $space-800;

  @media screen and (max-width: 768px) {
    padding-inline: $space-500;
  }

  @media screen and (max-width: 576px) {
    padding-inline: $space-300;
  }
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $space-400;
  justify-content: center;
}
